.cs142-topbar-appBar {
  background-color: #3f51b5; /* Change to your preferred color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cs142-topbar-appBar .MuiToolbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.version {
  margin-left: 20px;
  flex-grow: 1;
}

.login {
  margin-right: 20px;
}

.logoutButton {
  display: flex;
  align-items: center;
}

.logoutButton button {
  margin-left: 10px;
}

.logoutButton .upload-button {
  background-color: #4caf50;
  color: white;
}

.logoutButton .logout-button {
  background-color: #f44336;
  color: white;
}
